/* styles for all components */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Odibee Sans', cursive;
  text-transform: uppercase;
}
*:visited{
  color: inherit;
}
*:link{
  color: inherit;
}



header {
  grid-area: header;

}

main {
  background-color: #FCFEF5;
  grid-area: content;
  align-self: center;
}

footer {
  grid-area: footer;
}




